@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white
}

@layer components {
  .sidebar {
    width: 27%;
    height: 100%;
    display: flex;
    background-color: #312E2E;
    padding: auto;
  }
  .profilePic {
    border-radius: 50%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  .name {
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
  }
  .indexList {
    font-size: 27px;
    line-height: 24px;
  }
  .frontPage {
    background-color: #373737;
    max-height: 100vh;
    height: 2000px;
    padding-left: 27%;
    padding-block: 15%;
    justify-content: space-evenly;
  }
  .welcome { 
    width: 1000px;
    height: 97px;
    font-size: 75px;
    line-height: 116px;

    color: #FFFFFF;
  }
  .buttonList {
    font-size: 32px;
  }
  .contactPage {
    background-color: #373737;
    max-height: 100vh;
    height: 2000px;
    padding-left: 27%;
    padding-top: 10%;
  }
  .emailForm {
    padding-inline: 30%;
  }
}