@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white
}

@layer components {

  /* Core layout */
  .sidebar {
    width: 27%;
    height: 100%;
    display: flex;
    background-color: #312E2E;
    padding: auto;
  }

  .mainArticle {
    background-color: #373737;
    max-height: 100vh;
    height: 100vh;
    padding-left: 27%;
  } 
  .profilePic {
    border-radius: 50%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
    padding: 20px;
    width: 100%;
    height: 100%;
  }

  .indexList {
    font-size: 27px;
    line-height: 24px;
  }

  /* About me Page */
  .aboutMeContainer {
    width: 100%;
    padding-top: 10%;
    padding-inline: 5%;
  }
  /* My projects Page */
  .projectContainer {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding-block: 5%;
  }
  .projectItem {
    width: 350px;
    height: 250px;
    background-color:#312E2E;
    border-radius: 25%;
  }
  .projectItem:hover .picOverlay{
    height: 100%;
  }
  .projectPic {
    width: inherit;
    height: inherit;
    opacity: 40%;
    border-radius: 25%;
  }
  .picOverlay {
    position: absolute;
    background-color: #312E2E;
    overflow: hidden;
    height: 0;
    width: inherit;
    transition: .5s ease-in-out;
    border-radius: 25%;
    max-height: 250px;
  }
  /* Commit List */
  .commitList {
    background-color: #312E2E;
    width: 100%;
    bottom: 0;
  }
  .commitItem {
    padding-block: 15px;
    border-top: #373737;
    border-top-style:dotted;
    border-top-width: 5px;
  }
}
@media (max-width: 768px)  {
  /* Sidebar */
  .sidebar {
    position: initial;
    width: 100%;
    height: initial;
  }
  .profilePic {
    width: 50%;
    display: flex;
    height: auto;
  }
  /* Article */ 
  .mainArticle{
    padding-left: 0%;
  }
}